.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.horizontal {
  display: flex;
  flex-direction: horizontal;

}

.photo {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}

.avatar {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.name {
  font-size: 3vw;
  font-weight: bold;
  margin-right: 2vw;
}

.username {
  font-size: 3vw;
  font-weight: normal;
}

.since {
  font-size: 2vw;
  font-weight: normal;
}

.text {
  font-size: 3vw;
  text-align: left;
}

.votes {
  font-size: 3vw;
  font-weight: normal;
}

.retweet-text {
  font-size: 3vw;
  color: grey;
  font-weight: bold;
  height: 6vw;
}

.retweet-icon {
  font-size: 3vw;
  color: grey;
  font-weight: bold;
  margin-right: 1vw;
  height: 6vw;
}

