:root {
  --text-normal: 0.9rem;
  --text-small: 0.7rem;

}

.horizontal {
  display: flex;
  flex-direction: horizontal;
  align-items: baseline;
}

.sider {
  display: flex;
  justify-content: center;
}

.timeline {
  width: 35rem;
}

.tweet {
  margin-right: 0.5vw
}

.photo {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}

.avatar {
  width: 3rem;
  border-radius: 50%;
}

.name {
  font-size: var(--text-normal);
  font-weight: bold;
  margin-right: 1rem;
}

.username {
  font-size: var(--text-small);
  font-weight: normal;
}

.since {
  font-size: var(--text-small);
  font-weight: normal;
}

.text {
  font-size: var(--text-normal);
  text-align: left;
}

.votes {
  font-size: var(--text-small);
  font-weight: normal;
}

.retweet-text {
  font-size: var(--text-normal);
  color: grey;
  font-weight: bold;
  height: 1.5rem;
}

.retweet-icon {
  font-size: 1.2rem;
  color: grey;
  font-weight: bold;
  margin-right: 1rem;
  height: 1.5rem;
}

.ant-layout {
  display: flex;
  flex: auto;
  flex-direction: row;
  min-height: 0;
  background: #f0f2f5;
}

.ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 0.5rem 0;
}

