:root {
  --text-normal: 0.9rem;
  --text-small: 0.7rem;
}

.horizontal {
  display: flex;
  flex-direction: horizontal;
  align-items: baseline;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}

.sider {
  background-color: lightGrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  height: 100%
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 30rem;
}

.timeline-content {
  padding: 0.5rem 0;
}

.timeline-title {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0.5rem 1rem;
}

.timeline-title-icon {
  font-size: 1.5rem;
  font-weight: bold;
}

.timeline-title-title {
  font-size: 1rem;
  font-weight: bold;
}

.timeline-title-username {
  font-size: 0.7rem;
  font-weight: normal;
}

.tweet {
  margin-right: 1rem
}

.photo {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}

.avatar {
  width: 3rem;
  border-radius: 50%;
}

.name {
  font-size: var(--text-normal);
  font-weight: bold;
  margin-right: 1rem;
}

.username {
  font-size: var(--text-small);
  font-weight: normal;
}

.since {
  font-size: var(--text-small);
  font-weight: normal;
}

.text {
  font-size: var(--text-normal);
  text-align: left;
}

.votes {
  font-size: var(--text-small);
  font-weight: normal;
}

.retweet-text {
  font-size: var(--text-normal);
  color: grey;
  font-weight: bold;
  height: 1.5rem;
}

.retweet-icon {
  font-size: 1.2rem;
  color: grey;
  font-weight: bold;
  margin-right: 1rem;
  height: 1.5rem;
}

.ant-layout {
  display: flex;
  flex: auto;
  flex-direction: row;
  min-height: 0;
  background: #f0f2f5;
}

.ant-divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 0.5rem 0;
}

